<%-include("../partials/header")%> <%-include("../partials/navbar")%>
<fieldset>
  <legend>EDIT PRODUCT</legend>
  <form
    class="validated-form"
    action="/products/<%=product._id%>?_method=PATCH"
    method="POST"
    novalidate>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name :</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        value="<%=product.name%>"
        name="product[name]"
        required />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">img :</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        value="<%=product.img%>"
        name="product[img]"
        required />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">price :</label>
      <input
        type="number"
        class="form-control"
        id="exampleInputPassword1"
        value="<%=product.price%>"
        name="product[price]"
        required />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea4" class="form-label">DESC :</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea4"
        cols="50"
        rows="3"
        name="product[desc]"
        required>
<%=product.desc%></textarea
      >
    </div>
    <button type="update" class="btn btn-primary">update</button>
  </form>
</fieldset>
<%-include("../partials/footer")%>
